/* The side navigation menu */
.sidenav {
    height: 542px;
     /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    left: 1%;
    margin-left: 8px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; 
    /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav  {
    position: absolute;
    /* top: 0; */
    right: 25px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
   .closebtn {
    position: absolute;
    top: 0;
    font-size: 18px;
    background-color: aquamarine;
  }
  
 






::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 0px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    /* background: gray;  */
    border-radius: 0px;
    
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128); 
    }


*{
    color: whitesmoke;
}
/* .standard{
    display: none;
} */
.scientific{
    display: none;
}
#bar{
    position: relative;
    background-color: aqua;
    z-index: 4;
    width: 400px;
    height: 592px;
    display: none;
}
body{
    background-color: rgb(78, 90, 80);
    padding: 1%;
    z-index: 1;

}
.body{
    background-color: rgba(54, 58, 54, 0.801);
    max-width: 400px;
    min-width: 100px;
    height: 623px;
}
.top{
    height: 30px;
    /* background-color: blanchedalmond; */
    width: 100%;
}
.stan{
    height: 30px;
    /* background-color: rgb(116, 94, 61); */
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.stan1{
    display: flex;
    width: 150px;
    justify-content: space-around;
    z-index: 2;
}
.wd{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.answer{
    height: 30px;
    text-align: end;
    padding-right: 2%;
    color: rgba(209, 199, 199, 0.842);
    font-size: 20px;
    padding-top: 20px;
    width: 98%;
    overflow-x: auto;
}
.log{
    height: 70px;
    text-align: end;
    font-size: 40px;
    padding-right: 2%;
    width: 98%;
    overflow-x: auto;
}

.mm{
    height: 50px;
    display: flex;
    width: 100%;
}
.dms{
    width: 65px;
    height:30px;
    margin: 1px;
    text-align: center;
    padding-top: 20px;
}
.dms:hover{
    background-color: rgba(236, 243, 236, 0.397);
}
.spa{
    color: rgba(128, 128, 128, 0.295);
}
.numbers{
    height: 390px;
    width: 100%;
}
.row1{
    display: flex;  
    width: 100%;
    height: 65px;
}
.col1{
    height: 42px;
    width: 100px;
    background-color: burlywood;
    margin: 2px 2px;
    padding-top: 18px;
    text-align: center;
}
.col1:hover{
    background-color: rgba(236, 243, 236, 0.144);
}
#equ{
    background-color: rgba(35, 77, 66, 0.836);
}
#equ:hover{
    background-color: rgba(65, 160, 152, 0.644);
}
.spe{
    background-color: rgb(22, 26, 23);
}
.con{
    background-color: rgba(22, 26, 23, 0.479);
}





.sidenav2{
    height: 542px;
     /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    left: 1%;
    margin-left: 8px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; 
    /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav2 a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav2 a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav2  {
    position: absolute;
    /* top: 0; */
    right: 25px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
   .closebtn2 {
    position: absolute;
    top: 0;
    font-size: 18px;
    background-color: aquamarine;
  }






