::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 0px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    /* background: gray;  */
    border-radius: 0px;
    
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128); 
    }


*{
    color: whitesmoke;
}
#bar{
    position: relative;
    background-color: aqua;
    z-index: 4;
    width: 400px;
    height: 592px;
    display: none;
}
body{
    background-color: rgb(78, 90, 80);
    padding: 1% 30% ;
    z-index: 1;

}
.body{
    background-color: rgba(41, 49, 43, 0.801);
    max-width: 400px;
    min-width: 100px;
    height: 622px;
}
.top{
    height: 30px;
    /* background-color: blanchedalmond; */
    width: 100%;
}
.stan{
    height: 30px;
    /* background-color: rgb(116, 94, 61); */
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.stan1{
    display: flex;
    width: 150px;
    justify-content: space-around;
    z-index: 2;
}
.wd{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.answer{
    height: 30px;
    /* background-color: rgb(70, 168, 127); */
    text-align: end;
    padding-right: 2%;
    color: rgba(209, 199, 199, 0.842);
    font-size: 20px;
    padding-top: 20px;
    width: 98%;
    overflow-x: auto;

}
.log{
    height: 70px;
    /* background-color: rgb(255, 153, 0); */
    text-align: end;
    font-size: 40px;
    padding-right: 2%;
    width: 98%;
    overflow-x: auto;
    scroll-margin: 8px;
    

}
.mm{
    height: 50px;
    display: flex;
    width: 100%;
}
.dms{
    width: 65px;
    height:30px;
    /* background-color: greenyellow; */
    margin: 1px;
    text-align: center;
    padding-top: 20px;
}
.dms:hover{
    background-color: rgba(236, 243, 236, 0.397);
}
.spa{
    color: rgba(128, 128, 128, 0.295);
}
.numbers{
    height: 390px;
    width: 100%;
}
.row1{
    display: flex;  
    width: 100%;
    height: 65px;
}
.col1{
    height: 42px;
    width: 100px;
    background-color: burlywood;
    margin: 2px 2px;
    padding-top: 18px;
    text-align: center;
}
.col1:hover{
    background-color: rgba(236, 243, 236, 0.144);
}
#equ{
    background-color:rgba(41, 80, 70, 0.836) ;
}
#equ:hover{
    background-color: rgba(65, 160, 152, 0.644);
}
.spe{
    background-color: rgb(22, 26, 23);
}
.con{
    background-color: rgba(22, 26, 23, 0.479);
}
